/* General */
body {
    background: silver;
}

h1 {
    text-align: center;
}

h4 {
    text-align: center;
    text-decoration: underline;
}

h3 {
    text-decoration: underline;
    text-align: center;
}

button {
    margin-top: 1em;
    cursor: pointer;
    border: 0.1em solid black;
    outline: none;
    background-color: silver;
}

button:active {
    background-color: silver;
    outline: none;
    transform: translateY(0.2em);
  }

/*top section */

#topSection {
    display: flex;
    flex-direction: row;
    margin-bottom: 3em;
}

#userInfo {
    border: 0.1em solid black;
    margin-left: auto;
    margin-right: 0.5em;
    width: 9em;
    padding: 0.1em;
    overflow: hidden;
}

#usrInfoBtnDiv {
  text-align: center;
}
/* addUser */

#addUserDiv {
    text-align: center;
    border: 0.1em solid black;
    margin-right: auto;
    margin-left: 0.5em;
    width: 29em;
  }
  
  form {
    padding: 1em;
}
  
  input {
    border: 0.1em solid black;
    outline: none;
    font-size: 0.9em;
    margin: 0.1em 0em 0em 0.1em;
}
  
#submitBtn {
    font-size: 0.9em;
}

/* userList */

#userList {
    margin-bottom: 3em;
    text-align: center;
}

#toggle {
    cursor: pointer;
}

table {
   border: 0.1em solid black;
   margin-left: auto;
   margin-right: auto;
   padding: 1em;
   width: 40em;
}

th {
    border: 0.1em solid black;
    padding: 0.2em;
}


#arrow {
    font-size: 0.6em;
    cursor: pointer;
}

td {
    cursor: pointer;
    border: 1px solid black;
    padding: 0.2em;
    overflow: hidden;
}

.delBtn {
    font-size: 0.6em;
}

#delBtnTd {
  text-align: center;
}